.change_password {
    .modal-dialog {
        padding: 1.5rem;
        max-width: 56.3rem;
    }

    .modal-content {
        background-color: var(--modalbg);
        border: 1px solid var(--modalborder);
        padding: 3rem;
        border-radius: 2rem;

        .modal-header {
            border-bottom: none;
            padding: 0;
            margin-bottom: 3rem;

            h2 {
                font-size: 2rem;
                font-weight: 600;
                color: var(--secondarytxt);
            }

        }

        form {
            .mb_input {
                margin-bottom: 2rem;
            }

            .submit_btn {
                margin-top: 3.6rem;
            }
        }
    }
}