.custom_breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;

    a {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        align-items: center;

        @media (max-width: 991px) {
            font-size: 1.4rem;
        }

        &:last-child {
            color: var(--breadcrumbtxtactive);
        }

        &:not(:last-child) {
            color: var(--breadcrumbtxt);

            &::after {
                margin-inline: 0.8rem;
                content: "";
                width: 0.6rem;
                height: 1.2rem;
                background-image: url('data:image/svg+xml,<svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.84108 6.42825L0.940019 11.8221C0.888989 11.8784 0.828383 11.9231 0.761663 11.9536C0.694943 11.9841 0.623415 11.9999 0.551163 12C0.478911 12.0001 0.407347 11.9845 0.340562 11.9542C0.273777 11.9238 0.213077 11.8793 0.161926 11.8231C0.110776 11.7669 0.0701799 11.7002 0.0424519 11.6267C0.0147233 11.5533 0.000406265 11.4745 0.000320911 11.395C0.000236034 11.3154 0.0143847 11.2366 0.0419559 11.1631C0.0695271 11.0896 0.109982 11.0228 0.161011 10.9664L4.67302 5.99993L0.161011 1.03442C0.109921 0.978103 0.0694079 0.911261 0.0417814 0.837708C0.0141544 0.764155 -4.24385e-05 0.685332 0 0.605739C4.24385e-05 0.526145 0.0143242 0.44734 0.0420294 0.373823C0.0697346 0.300306 0.110319 0.233517 0.161469 0.177269C0.212619 0.121021 0.273331 0.0764159 0.340139 0.046C0.406948 0.0155841 0.478543 -4.66894e-05 0.550838 1.04756e-07C0.623133 4.68989e-05 0.694713 0.0157703 0.761488 0.0462727C0.828264 0.0767751 0.888929 0.121459 0.940019 0.177773L5.84108 5.5716C5.94294 5.68597 6 5.83975 6 5.99993C6 6.1601 5.94294 6.31389 5.84108 6.42825Z" fill="%239E9F9D"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-flex;

                @media (max-width: 991px) {
                    margin-inline: 0.4rem;
                }
            }
        }
    }
}