.custom_radiobox {
    .input_in {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        input {
            appearance: none;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            border: none;
            outline: 1px solid var(--radioborder);
            outline-offset: 0.3rem;
            cursor: pointer;

            &:checked {
                background-color: var(--radiochecked);
                cursor: pointer;
                outline-color: var(--radiochecked);
            }
        }

        label {
            color: var(--secondarytxt);
            font-size: 1.6rem;
            font-weight: 400;

            @media (max-width: 1499px) {
                font-size: 1.4rem;
            }
        }
    }
}